<h2>商品一覧</h2>
<div class="icon">
  <%= link_to new_admin_item_path do%>
    <i class="fa fa-plus-circle my-example fa-2x"></i>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">商品ID</th>
      <th scope="col">商品名</th>
      <th scope="col">税抜き価格</th>
      <th scope="col">ジャンル</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
          <tr>
          <th scope="row"><%= item.id %></th>
          <td><%= link_to item.name,admin_item_path(item)%></td>
          <td><%= item.price%></td>
          <td><%= item.genre.name%></td>
          <td><%= item.sale_status%></td>
          </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination">
  <%= paginate @items %>
</div>
