<div class="center-block">
    <div class="ml-5 mb-5">
      <h2>管理者ログイン</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            
              <div class="row form-group offset-sm-1">
                <%= f.label :email,"メールアドレス",class: "col-sm-2 col-form-label" %>
                <div class="col-sm-5 mb-3">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control col-sm-" %>
                </div>
              </div>
          

         
            
              <div class="row form-group offset-sm-1">
                <%= f.label :password,"パスワード",class: "col-sm-2 col-form-label" %>
                <div class= "col-sm-5">
                  <%= f.password_field :password, autocomplete: "current-password",class: "form-control" %>
                </div>
              </div>

        <div class="row">
          
            <%= f.submit "ログイン",class: "btn btn-primary offset-sm-5" %>
        </div>
    <% end %>
</div>