<h2>注文履歴詳細</h2>

<div class="row">
    <div class="col-md-5">
        <table class="table table-borderless">
            <tr>
                <td>購入者</td>
                <td><%= @order.end_user.name%></td>
            </tr>
            <tr>
                <td>配送先</td>
                <td>〒<%= @order.postal_code.to_s.insert(3, "-")%>
                    <%= @order.address%><br>
                    <%= @order.name%>
                </td>
            </tr>
            <tr>
                <td>支払い方法</td>
                <td><%= @order.payment_method%></td>
            </tr>

            <tr>
                <td>支払いステータス</td>
                <td>
                    <%= form_for @order,url: admin_order_path(@order) do |f|%>
                        <div class="form-row form-group">
                            <div class="col">
                                <%= f.select :status, Order.statuses.keys,{},class: "form-control" %>
                            </div>
                            <div class="col">
                                <%= f.button "更新",class: "btn btn-primary btn-sm"%>
                            </div>
                        </div>
                    <% end %>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class ="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価税込み</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th>制作ステータス</th>
                </tr>
            </thead>
            <tbody>
                <% @order.order_details.each do |detail| %>
                    <td><%= detail.item.name%></td>
                    <td><%= detail.price%></td>
                    <td><%= detail.amount%></td>
                    <td><%= detail.subtotal%></td>
                    <td>
                        <%= form_for detail,url: admin_order_detail_path(detail) do |f|%>
                            <div class="form-row">
                                <div class="col">
                                    <%= f.select :making_status, OrderDetail.making_statuses.keys.to_a,{},class: "form-control"%>
                                </div>
                                <div class="col">
                                    <%= f.submit "更新する",class: "btn btn-primary btn-sm"%>
                                </div>
                            </div>
                        <% end %>
                    </td>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 ml-5 mt-5">
        <table class="table table-borderless">
            <tr>  
                <td>商品合計</td>  
                <td><%= @order.total_price.to_s(:delimited)%></td>
            </tr>
            <tr>
                <td>送料</td>
                <td><%= @order.shipping_cost%></td>
            </tr>
            <tr>
                <td>請求金額合計</td>
                <% @billing_payment = @order.total_price.to_i + @order.shipping_cost.to_i%>
                <td><%= @billing_payment.to_s(:delimited)%></td>
            </tr>
        </table>
    </div>
</div>
