<h2>ジャンル一覧・追加</h2>

<div class="row">
    <div class="offset-md-1 col-md-5">
        <%= form_for @genre, url: admin_genres_path, html: {class:'form-inline'} do |f| %>
            <% if @genre.errors.any? %>
                  <div id="error_explanation">
                          <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2><%= @genre.errors.count %>件のエラーが発生しました。</h2>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <% @genre.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                    </div>
            <% end %>
            <div class="form-group">
                <%= f.label :name,"ジャンル"%>
                <%= f.text_field :name %>
            </div>

            <div class="form-check">
                <div class="form-check ml-2">
                    <%= f.radio_button :is_active, :有効, checked: "checked" %>
                    <%= f.label :有効 %>
                </div>
                <div class="form-check ml-2">
                    <%= f.radio_button :is_active, :無効,class: "form-check-input" %>
                    <%= f.label :無効 %>
                </div>
            </div>
            <div class="form-group ml-2">
                <%= f.submit "追加",class: "btn btn-primary"%>
            </div>
        <% end %>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4 offset-md-1">
        <table class="table">
        <thead class="thead">
            <tr>
            <th scope="col">ジャンル</th>
            <th scope="col">状態</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% @genres.each do |genre|%>
                <tr>
                <td><%= genre.name%></td>
                <td><%= genre.is_active %></td>
                <td><%= link_to "編集する",edit_admin_genre_path(genre),class: "btn btn-primary" %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>

