<h5>会員の方はこちらからログイン</h5>

<div class="row">
  <div class="col-md-7 offset-md-1">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless">
        <tr>
          <div class="field">
            <td><%= f.label :email %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %></td>
          </div>
        </tr>

        <tr>
            <td><%= f.label :password,"パスワード" %></td>
            <td><%= f.password_field :password, autocomplete: "current-password",class: "form-control" %></td>
        </tr>

        <tr>
          <td></td>
          <td><%= f.submit "ログイン",class: "btn btn-primary" %></td>
        </tr>

      </table>
    <% end %>
  </div>
</div>

  <h5>登録がお済みでない方</h5>
<div class="row">
  <p class="offset-md-1"><%= link_to "こちら",new_end_user_registration_path%>から新規登録を行ってください</p>
</div>


