<h2>商品一覧<span>(全<%= @items.count%>件)<span></h2>

<div class="row">
    <% @items.each do |item|%>
        <% if item.genre.is_active == "有効"%>
            <div class="col-md-3">
                <%= link_to item_path(item) do%>
                    <%= image_tag attachment_url(item, :image, :fill, 200, 150, format: "jpg") %>
                <% end %>
                <p><%= item.name%></p>
                <p>¥<%= item.tax_price.to_s(:delimited)%></p>
            </div>
        <% end%>
    <% end %>
</div>
<%= paginate @items %>