<div class="row">

    <div class="col-xs-6">
        <%= image_tag attachment_url(@item, :image, :fill, 300, 250, format: "jpg") %>
    </div>

    <div class="col-xs-6 ml-4">
        <p class="font-size-ex"><%= @item.name%></p>
        <p><%= simple_format(@item.introduction, {}, sanitize: false) %></p>
        <p class="font-size-big">¥<%= @item.tax_price%><span class="font-size-md">(税込み)</span></p>
    </div>
</div>

<div class="row mt-5">
    <div class="offset-md-4">
        <%= form_for @cart_item,url: cart_items_path do |f| %>
            <%= f.hidden_field :item_id,value:@item.id %>
            <div class="form-row ">
                <div class="col">
                    <%= f.select :amount,[1,2,3,4,5,6,7,8,9,10], { include_blank: '個数選択'},class: "form-control"%>
                </div>
                <div class="col">
                    <%= f.submit "カートに追加する",class: "btn btn-primary"%>
                </div>
            </div>
        <% end %>
    </div>
</div>
